/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  
  /* Scroll snap */
  .servicios,
  .navegacion-principal,
  .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(60%2c 9%2c 108%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c126 C 57.6%2c140.2 172.8%2c201.8 288%2c197 C 403.2%2c192.2 460.8%2c86.6 576%2c102 C 691.2%2c117.4 748.8%2c290 864%2c274 C 979.2%2c258 1036.8%2c48 1152%2c22 C 1267.2%2c-4 1382.4%2c119.6 1440%2c144L1440 560L0 560z' fill='rgba(157%2c 78%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c299 C 96%2c326.2 288%2c438 480%2c435 C 672%2c432 768%2c265.8 960%2c284 C 1152%2c302.2 1344%2c477.6 1440%2c526L1440 560L0 560z' fill='rgba(224%2c 170%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    min-height: 100vh; /* Asegura que el body tenga al menos el alto de la ventana */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla sin distorsionarse */
  }
  
  .sombra {
    -webkit-box-shadow: 0px 5px 15px 0px #ced4da;
    -moz-box-shadow: 0px 5px 15px 0px #ced4da;
    box-shadow: 0px 5px 15px 0px #ced4da;
    width: 90%; /* Ajuste para móviles */
    max-width: 50rem; /* Máximo ancho para pantallas grandes */
    height: auto;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    padding: 2rem; /* Reducir padding para móviles */
    margin: 1rem; /* Reducir margen para móviles */
    background-color: #fffffc;
    border: .1rem solid #8d99ae;
  }
  
  .titulo {
    font-family: "Rubik Spray Paint", serif;
    font-weight: 100;
    color: #9d4edd;
    font-size: 2.9rem; /* Tamaño de fuente más pequeño para móviles */
  }
  
  .separador {
    border-bottom: .2rem solid #ced4da;
    width: 100%; /* Ajuste para móviles */
    margin: 0 auto; /* Centrar el separador */
  }
  
  .parrafo {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 1rem;
    margin-bottom: 0rem;
    font-size: 1.6rem;
  }
  .parr2 {
    margin-top: 0rem;
    font-style: italic;
    font-size: 1.52rem;
  }
  .button {
      display: flex; /* Cambiado de flexbox a flex */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      margin-top: 1.2rem;
      padding: 1rem;
      width: 15rem;
      height: auto;
      border-radius: 2rem;
      transition: .3s;
      background-color: #9d4edd;
      border: .3rem solid #f6fff8;
  }
  
  .button:hover {
    transform: scaleX(1.1);
  }
  .enlace {
    font-family: "Chelsea Market", serif;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    display: flex; /* Añadido para alinear SVG y texto */
    align-items: center; /* Alinea verticalmente SVG y texto */
    gap: 0.5rem; /* Espacio entre el SVG y el texto */
    color: #f6fff8;
    font-size: 1.6rem;
  }
  /* Animación para el titulo */
  @-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
  
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
  
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
  
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
  }
  
  /* Animación para el cuadro */
  @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  .animatedCuadro {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  /* Animación para el titulo */
  @keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
  
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
  
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
  
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  /* Media Queries para pantallas más grandes */
  @media (min-width: 768px) {
    .sombra {
        width: 50rem; /* Restaurar el ancho original para pantallas grandes */
        padding: 5rem; /* Restaurar el padding original para pantallas grandes */
        margin: 0rem 10rem; /* Restaurar el margen original para pantallas grandes */
    }
  
    .titulo {
        font-size: 3rem; /* Restaurar el tamaño de fuente original para pantallas grandes */
    }
  
    .separador {
        width: 40rem; /* Restaurar el ancho original para pantallas grandes */
    }
  }