/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  
  /* Scroll snap */
  .servicios,
  .navegacion-principal,
  .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(113%2c 97%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 302.02Q31.84 261.86%2c 72 293.7Q141.62 291.31%2c 144 360.93Q161.45 306.38%2c 216 323.83Q234 269.83%2c 288 287.83Q353.94 233.76%2c 408 299.7Q467.93 287.63%2c 480 347.55Q505.08 300.63%2c 552 325.71Q632.85 286.55%2c 672 367.4Q676.52 299.92%2c 744 304.45Q772.34 260.79%2c 816 289.13Q870.31 271.44%2c 888 325.75Q915.83 281.57%2c 960 309.4Q988.31 265.7%2c 1032 294.01Q1124.2 266.22%2c 1152 358.42Q1186.25 272.67%2c 1272 306.91Q1300.62 263.53%2c 1344 292.15Q1445.4 273.55%2c 1464 374.95z' fill='rgba(149%2c 127%2c 239%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 372.13Q89.42 341.56%2c 120 430.98Q147.96 386.94%2c 192 414.9Q227.52 330.42%2c 312 365.94Q355.65 337.59%2c 384 381.24Q431.26 356.5%2c 456 403.76Q475.14 350.9%2c 528 370.05Q593.26 315.31%2c 648 380.57Q731.14 343.71%2c 768 426.85Q811.33 398.18%2c 840 441.5Q884.62 366.12%2c 960 410.74Q968.46 347.2%2c 1032 355.66Q1102.93 306.59%2c 1152 377.52Q1218.65 372.17%2c 1224 438.82Q1240.8 383.62%2c 1296 400.41Q1325.61 358.02%2c 1368 387.63Q1457.13 356.76%2c 1488 445.89z' fill='rgba(183%2c 156%2c 237%2c 1)'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 493.61Q6.42 428.03%2c 72 434.45Q113.64 404.09%2c 144 445.72Q190.48 420.2%2c 216 466.67Q268.5 447.17%2c 288 499.66Q316.99 408.65%2c 408 437.64Q456.37 414.01%2c 480 462.38Q534.28 444.66%2c 552 498.95Q594.6 469.55%2c 624 512.15Q642.59 410.74%2c 744 429.32Q815.56 380.88%2c 864 452.44Q917.5 385.94%2c 984 439.45Q1037.58 373.02%2c 1104 426.6Q1190.99 393.6%2c 1224 480.59Q1299.62 436.21%2c 1344 511.83Q1374.7 470.53%2c 1416 501.23Q1444.68 409.91%2c 1536 438.59z' fill='rgba(222%2c 192%2c 241%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 579.52Q27.52 535.04%2c 72 562.56Q121.88 492.44%2c 192 542.32Q217.41 495.73%2c 264 521.14Q343 480.13%2c 384 559.13Q414.35 517.48%2c 456 547.83Q503.64 475.47%2c 576 523.11Q631.71 506.82%2c 648 562.52Q670.08 512.6%2c 720 534.68Q770.25 464.92%2c 840 515.17Q921 476.17%2c 960 557.18Q1007.63 484.81%2c 1080 532.44Q1143.31 523.75%2c 1152 587.06Q1154.83 517.89%2c 1224 520.72Q1250.34 475.06%2c 1296 501.39Q1353.99 487.38%2c 1368 545.38Q1376.72 482.11%2c 1440 490.83Q1510.37 441.19%2c 1560 511.56z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    min-height: 100vh; /* Asegura que el body tenga al menos el alto de la ventana */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-size: cover; /* Asegura que el fondo cubra toda la pantalla sin distorsionarse */
  }
  
  .sombra {
    -webkit-box-shadow: 0px 5px 15px 0px #ced4da;
    -moz-box-shadow: 0px 5px 15px 0px #ced4da;
    box-shadow: 0px 5px 15px 0px #ced4da;
    width: 90%; /* Ajuste para móviles */
    max-width: 50rem; /* Máximo ancho para pantallas grandes */
    height: auto;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    padding: 2rem; /* Reducir padding para móviles */
    margin: 1rem; /* Reducir margen para móviles */
    background-color: #fff;
  }
  
  .titulo {
    font-family: "Rubik Spray Paint", serif;
    font-weight: 400;
    color: #c8b1e4;
    font-size: 2.9rem; /* Tamaño de fuente más pequeño para móviles */
  }
  
  .separador {
    border-bottom: .2rem solid #ced4da;
    width: 100%; /* Ajuste para móviles */
    margin: 0 auto; /* Centrar el separador */
  }
  
  .parrafo {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 1rem;
    margin-bottom: 0rem;
    font-size: 1.6rem;
  }
  .parr2 {
    margin-top: 0rem;
    font-style: italic;
    font-size: 1.52rem;
  }
  .button {
    background-color: #9d4edd;
    display: flex; /* Cambiado de flexbox a flex */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 1.2rem;
    padding: 1rem;
    width: 15rem;
    height: auto;
    border-radius: 2rem;
    transition: .3s;
  }
  
  .button:hover {
    background-color: #8b2fc9;
    transform: scaleY(1.1);
  }
  .enlace {
    font-family: "Chelsea Market", serif;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    display: flex; /* Añadido para alinear SVG y texto */
    align-items: center; /* Alinea verticalmente SVG y texto */
    gap: 0.5rem; /* Espacio entre el SVG y el texto */
    color: #f4effa;
    font-size: 1.6rem;
  }
  
  /* Animación para el cuadro */
  @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  .animatedCuadro {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

/* Animación para el titulo */
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
  
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
  
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
  
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  /* Media Queries para pantallas más grandes */
  @media (min-width: 768px) {
    .sombra {
        width: 50rem; /* Restaurar el ancho original para pantallas grandes */
        padding: 5rem; /* Restaurar el padding original para pantallas grandes */
        margin: 0rem 10rem; /* Restaurar el margen original para pantallas grandes */
    }
  
    .titulo {
        font-size: 3rem; /* Restaurar el tamaño de fuente original para pantallas grandes */
    }
  
    .separador {
        width: 40rem; /* Restaurar el ancho original para pantallas grandes */
    }
  }