/* Estilos base (mobile-first) */
body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  animation: fadeOut 12s forwards; /* Efecto de desvanecimiento */
  background-image: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);
}

h1 {
  font-family: "Alkatra", serif;
  font-weight: bold;
  font-size: 24px; /* Tamaño de fuente más pequeño para móviles */
  color: white; /* Asegura que el texto sea blanco */
  margin: 0;
  padding: 0;
}

.contenedor {
  text-align: center;
  padding: 20px; /* Espaciado para móviles */
}

#texto-animado {
  font-size: 1.2em; /* Tamaño de fuente más pequeño para móviles */
  color: white; /* Texto blanco */
  overflow: hidden;
  /* SE DESECHARA ESTA IDEA border-right: 3px solid white; // Cursor blanco
  animation: blink-cursor 1.3s steps(2, start) infinite; */
  word-wrap: break-word; /* Asegura que las palabras largas se dividan */
}

@media (max-width: 480px) {
  #texto-animado {
    max-width: 100%; /* Ajusta el ancho al 100% del contenedor */
    font-size: 1em; /* Tamaño de fuente aún más pequeño para móviles */
    height: auto;
    margin: auto;
    padding: 0 10px; /* Añade un poco de padding para evitar que el texto toque los bordes */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }
}
/* NO SE HARA USO DE LA IDEA DEL PUNTERO. 
 Animación para el cursor parpadeante 
@keyframes blink-cursor {
  from,
  to {
    border-right-color: transparent; // Cursor invisible 
  }
  50% {
    border-right-color: white; // Cursor visible 
  }
}
*/
.splash-container {
  opacity: 1;
  animation: fadeOut 12s forwards;
}

/* Media queries para pantallas más grandes */

/* Tabletas (≥768px) */
@media (min-width: 768px) {
  h1 {
    font-size: 36px; /* Tamaño de fuente más grande para tabletas */
  }

  #texto-animado {
    font-size: 2em; /* Tamaño de fuente más grande para tabletas */
  }

  .contenedor {
    padding: 40px; /* Más espaciado para tabletas */
  }
}

/* Escritorios (≥1024px) */
@media (min-width: 1024px) {
  h1 {
    font-size: 50px; /* Tamaño de fuente más grande para escritorios */
  }

  #texto-animado {
    font-size: 2.5em; /* Tamaño de fuente más grande para escritorios */
  }

  .contenedor {
    padding: 60px; /* Más espaciado para escritorios */
  }
}